@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-2"><b><i>Coding with C#</i></b></h1>
    <hr />
</div>
<ol>
        <li><i>Be Persistent</i></li>
        <li><i>Stick to a routine</i></li>
        <li><i>Focus on the fundamentals</i></li>
        <li><i>Build Hands-on Projects, no matter your level of experience</i></li>
        <li><i>Don't be afraid to ask for help</i></li>
</ol>
    <body class="text-left">Above are 5 tips to improving your code.
          This webpage will be used to display various common webpage functions, in both HTML and C# formats.
          This webpage is based on the Model, View, Controller framework.</body>
